<section class="section-padding">
    <div class="container" >
        <div class="text-center mb-40">
            <h2 class="section-title text-uppercase">Photography Information</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="../../assets/img/KFP_logo.jpg">
                <div class="text-center"><a href="https://www.kristinefreed.com/">kristinefreed.com</a></div>
            </div>
            <div class="col-md-9">
                Many of the photos on this site have been provided by <span class="bold" style="color: #7b0512">Kristine Freed Photography</span><br>
                Specializing In: Maternity | Birth | Newborn | Family | Senior<br>
                Thank you for all your support Kristine!
                <div class="mt-20" style="color: #7b0512">
                    <a class="mr-20" href="https://www.facebook.com/kristinefreedphotography/" target="_blank">
                        <i class="fa fa-facebook fa-2x"></i>
                    </a>
                    <a href="https://www.instagram.com/kristinefreedphotography/" target="_blank">
                        <i class="fa fa-instagram fa-2x"></i>
                    </a>
                  </div>
            </div>
        </div>
    </div>
</section>
