<section class="section-padding" *ngIf="game && game.complete">
    <div class="container" >
        <div class="text-center mb-40">
            <h2 class="section-title text-uppercase">Game Details</h2>
            {{game.date?.toDate()|date:'MM/dd/yyyy hh:mm a'}} - {{game.location}}<br>
            {{game.varsity?'VARSITY':'JV'}}
        </div>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="team-1">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <figure class="team-img text-center">
                            <img *ngIf="gameImageUrl" [src]="gameImageUrl" class="img-responsive" alt="Image">
                            <img  *ngIf="!gameImageUrl" src="../../assets/img/wrhs_logo.png" class="img-responsive text-center" alt="Image">
                            <h2 class="text-center bold">
                                <span *ngIf="game.tie">TIED {{game.goals_for}}-{{game.goals_against}}</span>
                                <span *ngIf="!game.tie">{{game.goals_for>game.goals_against?'WON':'LOST'}} {{game.goals_for}}-{{game.goals_against}}</span>
                            </h2>
                            <h5 class="text-center bold">
                                Shots On Goal
                            </h5>
                            <h5 class="text-center">
                                <span class="bold">Wiregrass</span> {{game.shots_for}} <span class="bold">{{game.opponent}}</span> {{game.shots_against}}
                            </h5>
                        </figure>
                    </div>

                    <div class="col-md-9 col-sm-9">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>GAME STATS</h3>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Goals</th>
                                        <th>Assists</th>
                                        <th>Points</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let stat of gameStats">
                                            <td>{{stat.jersey_number}}</td>
                                            <td>{{stat.first_name}}</td>
                                            <td>{{stat.last_name}}</td>
                                            <td>{{stat.goals}}</td>
                                            <td>{{stat.assists}}</td>
                                            <td>{{stat.points}}</td>
                                            <td><a [routerLink]="['/players',stat.playerId]"><i class="fa fa-id-card" aria-hidden="true"></i> View Profile</a></td>
                                        </tr>
                                        <tr *ngIf="!gameStats?.length">
                                            <td colspan="5" class="text-center text-bold">No Stats Available</td>
                                        </tr>                                  
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
